.App {
  max-width: 50rem;
  margin: 2rem auto;
}

.user--card img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}
.user--card {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid;
}

.user--container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin-top: 2rem;
}

.mr-rt-1 {
  margin-left: 1rem;
}
